@import "logic.less";

@keyframes earthFadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -95%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -90%);
    }
}

@keyframes rocketFadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -100%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

html {
    font-size: 62.5%;
}

body {
    background: #000;
    font-size: 16px;
    font-size: 1.6rem;
    margin: 0;
}

.outer {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    width: 100%;
}

/* http://lea.verou.me/css3patterns/#starry-night */
#stars {
    background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
            radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#line {
    border-left: 2px dashed fade(#fff, 20%);
    left: 50%;
    margin-left: -1px;
    position: absolute;
    height: 100%;
    top: 0;
    width: 0;
    z-index: 2;
}

.earth {
    left: 50%;
    height: 150vw;
    position: absolute;
    top: 0;
    transform: translate(-50%, -90%);
    width: 150vw;
    z-index: 3;

    &:before {
        background: radial-gradient(fade(#457895, 70%) 59%,transparent 73%) no-repeat;
        content: '';
        border-radius: 50%;
        left: 50%;
        height: 120%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 120%;
        z-index: 1;
    }
}

/*.earth {
    height: 40vw;
    transform: none;
    top: 100%;
    width: 40vw;
}*/

.earth:not(.earth--btm) {
    animation: earthFadeIn 1000ms 700ms ease 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

.earth__circle {
    background: #3987c9;
    border-radius: 50%;
    box-shadow: inset 0 0 70px 35px rgba(2, 52, 123, 0.5),
    inset 0 0 10px 5px rgba(2, 52, 123, 0.9),
    0 0 80px 40px fade(#457895, 50%),
    0 0 300px 200px fade(#2e3f46, 30%);
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.earth--btm {
    bottom: 0;
    top: auto;
    transform: translate(-50%, 90%);
}

.earth__land {

}

@keyframes cloud {
    from { transform: rotate(40deg) translate(565%); }
    to { transform: rotate(140deg) translate(565%); }
}

/* http://www.useragentman.com/blog/2013/03/03/animating-circular-paths-using-css3-transitions/# */
.cloud-holder {
    animation: cloud 36s infinite linear;
    height: 10%;
    left: 50%;
    margin: -5% 0 0 -5%;
    position: absolute;
    top: 50%;
    width: 10%;
}

.cloud-holder:nth-child(2) {
    animation-duration: 46s;
    animation-direction: reverse;
}

.cloud-holder:nth-child(3) {
    animation-duration: 43s;
    animation-delay: 20s;
}

.cloud-holder:nth-child(4) {
    animation-duration: 40s;
    animation-direction: reverse;
    animation-delay: -12s;
}

.cloud {
    fill: #fff;
    stroke: fade(#000, 40%);
    stroke-width: 1px;
    transform: rotate(90deg);
}

.section {
    position: relative;
}

.section--1 .timeline {
    padding-top: 20vw;
}

.section--5 .timeline {
    padding-bottom: 20vw;
}

.section--expand {
    height: 300vh;
}

/* http://codepen.io/saransh/pen/uJCFg */
.moon {
    background-color: #ebebeb;
    background-image: radial-gradient(#e1e3e5 18%, darken(#e1e3e5, 5%) 20%, transparent 0),
                      radial-gradient(#e1e3e5 18%, darken(#e1e3e5, 5%) 20%, transparent 0),
                      radial-gradient(#e1e3e5 20%, transparent 0),
                      radial-gradient(#e1e3e5 20%, transparent 0),
                      radial-gradient(#e1e3e5 18%, darken(#e1e3e5, 5%) 20%, transparent 0),
                      radial-gradient(#e1e3e5 18%, darken(#e1e3e5, 10%) 20%, transparent 0);
    background-size: 20% 20%, 25% 25%, 15% 15%, 15% 15%, 40% 40%, 90% 90%;
    background-position: 10% 25%, 90% 90%, 5% 85%, 80% 5%, 40% 85%, 150% -50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow:  0 0 200px 40px rgba(112, 139, 162, 0.5),
                 inset 0 0 60px 20px rgba(112, 139, 162, 0.45);
    left: 50%;
    height: 60vw;
    max-height: 70vw;
    max-width: 70vw;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 60vw;
    z-index: 3;
}

.moon--start-top {
    top: 0;
    transform: translateX(-50%);
}

.moon--fixed {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.moon--bottom {
    bottom: 0;
    position: absolute;
    top: auto;
    transform: translateX(-50%);
}

.moon__flag,
.moon__lunar {
    bottom: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    width: 8%;
}

.moon__flag {
    margin-bottom: -1px;
}

.moon__lunar {
    transform: translateX(-100%);
}

@keyframes moon-command {
    from { transform: rotate(-90deg) translate(350%); }
    to { transform: rotate(270deg) translate(350%); }
}

.moon__command-holder {
    animation: moon-command 30s infinite linear;
    height: 20%;
    left: 50%;
    margin: -10% 0 0 -10%;
    position: absolute;
    top: 50%;
    width: 20%;
}

.moon__command {
    height: 100%;
    transform: rotate(180deg);
    width: 100%;
}

.rocket {
    animation: rocketFadeIn 1000ms 1400ms ease 1;
    animation-fill-mode: forwards;
    left: 50%;
    position: fixed;
    opacity: 0;
    top: 15vw;
    transform: translateX(-50%);
    transition: all 200ms;
    z-index: 4;
}

.rocket--animate-top {
    top: 5%;
    transition-duration: 1000ms;
}

.rocket--delay-remove {
    animation-delay: 0ms;
}

.rocket--hide {
    animation: fadeOut 250ms ease 1;
    opacity: 0;
}

.rocket__img {
    transform: rotate(180deg);
    width: auto;
}

.rocket__img-default {
    height: 30vw;
}

.rocket__img-module {
    display: none;
    height: 5vw;
}

.rocket--command {
    animation: none;
    opacity: 1;
}

.rocket--command .rocket__img-default {
    display: none;
}

.rocket--command .rocket__img-module {
    display: block;
}

.timeline {
    list-style: none;
    padding-left: 6.25%;
    padding-right: 6.25%;
    position: relative;
    z-index: 5;
}

.timeline > li {
    background: fade(#fff, 80%);
    margin-bottom: 10rem;
    margin-top: 5rem;
    padding: 1rem;
}

.timeline time {
    display: block;
}

.timeline p {
    margin: 0;
}

@media all and (min-width: 600px) {
    .rocket__img-default {
        height: 20vw;
    }

    .timeline:after {
        content: '';
        clear: both;
        display: table;
    }

    .timeline > li {
        background: #fff;
        clear: both;
        float: left;
        width: 39.5%;
    }
    
    .timeline > li:nth-child(even) {
        float: right;
    }
}

@media all and (min-width: 992px) {
    .moon {
        height: 30vw;
        width: 30vw;
    }

    .rocket__img-default {
        height: 10vw;
    }
}