@import "logic.less";

@keyframes earthFadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -85%);
    }

    to {
        opacity: 1;
        transform: translate(-50%, -75%);
    }
}

main, section {
    display: block;
}

html {
    font-size: 62.5%;
}

body {
    background: #000;
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 18px;
    font-size: 1.8rem;
    line-height: 190%;
    margin: 0;
}

.outer {
    position: relative;
    overflow: hidden;
    width: 100%;
}

/* http://lea.verou.me/css3patterns/#starry-night */
#stars {
    background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
            radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

#line {
    background-image: linear-gradient(fade(#cfbcad, 50%), fade(#cfbcad, 50%) 50%, transparent 50%);
    background-size: 1px 24px;
    left: 50%;
    margin-left: 0.5px;
    position: absolute;
    height: 100%;
    top: 0;
    width: 1px;
    z-index: 2;
}

.earth {
    left: 50%;
    height: 80vw;
    position: absolute;
    top: 0;
    transform: translate(-50%, -75%);
    width: 80vw;
    z-index: 3;
}

.earth:not(.earth--btm) {
    animation: earthFadeIn 1000ms 400ms ease 1;
    animation-fill-mode: forwards;
    opacity: 0;
}

.earth__circle {
    background: #869fa8;
    border-radius: 50%;
    box-shadow: inset 0 0 40px 10px #667a7f,
                0 0 100px 50px fade(#fff, 30%);
    left: 0;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}

.earth--btm {
    bottom: 0;
    top: auto;
    transform: translate(-50%, 60%);
}

@keyframes cloud {
     from { transform: rotate(10deg) translate(350%); }
     to { transform: rotate(170deg) translate(350%); }
}

@keyframes cloudBottom {
    from { transform: rotate(190deg) translate(350%); }
    to { transform: rotate(350deg) translate(350%); }
}

/* http://www.useragentman.com/blog/2013/03/03/animating-circular-paths-using-css3-transitions/# */
.cloud-holder {
    animation: cloud 36s infinite linear;
    height: 20%;
    left: 50%;
    margin: -10% 0 0 -10%;
    position: absolute;
    top: 50%;
    width: 20%;
}

.earth--btm .cloud-holder {
    animation-name: cloudBottom;
}

.cloud-holder:nth-child(2) {
    animation-duration: 46s;
    animation-direction: reverse;
}

.cloud-holder:nth-child(3) {
    animation-duration: 43s;
    animation-delay: 20s;
}

.cloud-holder:nth-child(4) {
    animation-duration: 40s;
    animation-direction: reverse;
    animation-delay: -12s;
}

.cloud {
    fill: #fff;
    stroke: fade(#000, 40%);
    stroke-width: 1px;
    opacity: 0.4;
    transform: rotate(90deg);
}

.sec {
    clear: both;
    position: relative;

    &:before,
    &:after {
        content: '';
        clear: both;
        display: table;
    }
}

.sec--1 .tm {
    padding-top: 50vw;
}

.sec--5 .tm {
    padding-bottom: 50vw;
}

/*.sec--expand {
    height: 300vh;
}*/

.sec__title {
    color: #cfbcad;
    font-size: 3.5rem;
    left: 0;
    margin: 0;
    padding-left: 6.25%;
    position: absolute;
    opacity: 0.6;
    text-transform: uppercase;
    top: 1rem;
    z-index: 10;
}

.sec--1 .sec__title {
    top: 4rem;
}

/* http://codepen.io/saransh/pen/uJCFg */
.moon {
    background-color: #cecac0;
    background-image: radial-gradient(#bab6a8 18%, darken(#bab6a8, 5%) 20%, transparent 0),
                      radial-gradient(#bab6a8 18%, darken(#bab6a8, 5%) 20%, transparent 0),
                      radial-gradient(#bab6a8 20%, transparent 0),
                      radial-gradient(#bab6a8 20%, transparent 0),
                      radial-gradient(#bab6a8 18%, darken(#bab6a8, 5%) 20%, transparent 0),
                      radial-gradient(#bab6a8 18%, darken(#bab6a8, 10%) 20%, transparent 0);
    background-size: 20% 20%, 25% 25%, 15% 15%, 15% 15%, 40% 40%, 90% 90%;
    background-position: 10% 25%, 90% 90%, 5% 85%, 80% 5%, 40% 85%, 150% -50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    box-shadow:  0 0 200px 40px rgba(112, 139, 162, 0.5);
    left: 50%;
    height: 21.6vw;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    width: 21.6vw;
    z-index: 3;
}

.moon--start-top {
    top: 0;
    transform: translateX(-50%);
}

.moon--fixed {
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
}

.moon--bottom {
    bottom: 0;
    position: absolute;
    top: auto;
    transform: translateX(-50%);
}

.moon__flag,
.moon__lunar {
    bottom: 100%;
    height: auto;
    position: absolute;
    left: 50%;
    width: 20%;
}

.moon__flag {
    margin-bottom: -2%;
    transform: rotate(7deg) translateX(95%);
    width: 14%;
}

.moon__lunar {
    margin-bottom: -4%;
    transform: translateX(-150%) rotate(168deg);
    width: 22%;
}

@keyframes moon-cm {
    from { transform: rotate(-90deg) translate(180%); }
    to { transform: rotate(270deg) translate(180%); }
}

@keyframes moon-cm-lg {
    from { transform: rotate(-90deg) translate(250%); }
    to { transform: rotate(270deg) translate(250%); }
}

.moon__cm-h {
    animation: moon-cm 30s infinite linear;
    height: 70%;
    left: 50%;
    margin: -35% 0 0 -35%;
    position: absolute;
    top: 50%;
    width: 70%;
}

.moon__cm {
    height: 100%;
    transform: rotate(180deg);
    width: 100%;
}

@keyframes rktFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.rkt {
    left: 50%;
    position: fixed;
    opacity: 0;
    text-align: center;
    top: 5vw;
    transform: translateX(-50%);
    transition: all 200ms;
    z-index: 4;
}

.rkt--df {
    animation: rktFadeIn 1000ms 600ms ease 1;
    animation-fill-mode: forwards;
    top: -25vw;
}

.no-js .rkt--df {
    top: -1vw;
}

.rkt--anim-remove {
    animation: none;
    opacity: 1;
}

.rkt--splashdown {
    position: absolute;
    transition: none;
    top: auto;
}

.rkt--clm,
.rkt--cm,
.rkt--cm-r {
    opacity: 0;
}

.rkt__img {
    transform: rotate(180deg);
    width: auto;
}

.rkt__img-default {
    height: 70vw;
}

.no-js .rkt__img-default {
    max-height: 50vh;
}

.rkt__img-clm,
.rkt__img-cm {
    height: 15vw;
}

.rkt__img-cm-r {
    height: 4vw;
}

.tm {
    list-style: none;
    margin: 0 auto;
    max-width: 120rem;
    padding: 4rem 6.25%;
    position: relative;
    z-index: 5;
}

.tm > li {
    background: fade(#fff, 70%);
    color: #333;
    margin-bottom: 14rem;
    margin-top: 5rem;
    padding: 1rem;
}

.has-js .tm > li {
    opacity: 0;
    transition: all 2000ms;

    &.show {
        opacity: 1;
    }
}

.tm time {
    display: block;
    font-weight: 700;
}

.tm p {
    margin: 0;
}

@media all and (min-width: 600px) {
    .sec__title {
        font-size: 4.5rem;
    }

    .moon {
        box-shadow:  0 0 200px 40px rgba(112, 139, 162, 0.5);
    }

    .tm {
        padding-top: 10rem;
    }

    .tm:after {
        content: '';
        clear: both;
        display: table;
    }

    .tm > li {
        background: transparent;
        color: #cfbcad;
        clear: both;
        float: left;
        padding: 0;
        width: 39.5%;
    }

    .sec--3 .tm > li {
        width: 30%;
    }
    
    .tm > li:nth-child(even) {
        float: right;
    }

    .tm > .tm__btm {
        bottom: 0;
        color: #000;
        left: 50%;
        position: absolute;
        margin: 0;
        text-align: center;
        transform: translateX(-50%);
        width: 65vw;
    }
}

@media all and (min-width: 992px) {
    .earth__circle {
        box-shadow: inset 0 0 60px 20px #667a7f,
                    0 0 230px 60px fade(#fff, 30%);
    }

    .earth--btm {
        transform: translate(-50%, 70%);
    }

    .sec--1 .tm {
        padding-top: 30vw;
    }

    .sec--5 .tm {
        padding-bottom: 35vw;
    }

    .moon__flag {
        margin-bottom: -1%;
        width: 7%;
    }

    .moon__lunar {
        margin-bottom: -2.1%;
        width: 13%;
    }

    .moon__cm-h {
        animation-name: moon-cm-lg;
        height: 36%;
        margin: -18% 0 0 -18%;
        width: 36%;
    }

    .rkt--df {
        top: -18vw;
    }

    .rkt__img-default {
        height: 46vw;
    }

    .rkt__img-clm,
    .rkt__img-cm {
        height: 8vw;
    }

    .rkt__img-cm-r {
        height: 1.5vw;
    }

    .tm > .tm__btm {
        bottom: 4vw;
        max-width: 700px;
        width: 45vw;
    }
}